@import "node_modules/bootstrap/scss/functions"; 
@import "node_modules/bootstrap/scss/variables";

$navbar-light-color: black;
$navbar-light-hover-color: rgb(51, 50, 50);
$navbar-light-active-color: white;

@import "node_modules/bootstrap/scss/bootstrap";

.navbar-24ore {
    @extend .navbar;
    background-color: rgb(61, 127, 248);
}

.navlink {
    color: black;
    padding: 0 .5rem;
    font-size: 20px;

    &:hover {
        color: white;
        text-decoration: none;
    }
}

.page-content {
    width: 80%;
    margin: auto;
}

.title-box {
    display: inline-block;
    vertical-align: top;
    width: min-content;
    height: 30px;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    transform: skew(-30deg);
    background: red;
    box-shadow: 6px 6px 5px #888888;
    position: relative;
    top: 10px;
    left: -20px;
}

.title {
    margin: 0 15px;
    padding: 0;
    transform: skew(30deg);
    line-height: 30px;
}

.box-container {
    margin-top: 40px;
    display: inline-block;
}

.box-content {
    height: min-content;
    width: 100%;
    background-color: white;
    padding: 30px 20px 10px 20px;
}

.center-text {
    text-align: center;
    vertical-align: middle;
}