body {
  margin: 0;
  background-image: url(images/fresh_snow.png);
  padding-bottom: 20px;
  width: 100%;
  float: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
